.round-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-size: 0.85rem;
}

.complete-game {
    filter: opacity(.4);
}

.game-name {
    padding: 0.2rem;
}

.game-box {
    
    text-align: center;
    background-color: lightgray;
    padding: 0px;
}

.game-selector {
    border: none;
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;    
    /* border: 1px solid black; */
}

.white, .draw, .black {
    padding: .25rem .75rem;
    width: 33.333%;
    margin: 0px;
}

.white {
    background-color: white;
    color: black;
}

.draw {
    background-color: #999;
}

.black {
    background-color: black;
    color: white;
}